$switch-width: 45px;
$dot-width: 20px;
$dot-height: $dot-width;
$dot-padding: 3px;
$switch-height: $dot-height + $dot-padding * 2;
$position-checked: $switch-width - ($dot-width / 2) - $dot-padding;
$position-unchecked: $dot-width / 2 + $dot-padding;

.switch {
  position: relative;
  height: $switch-height;
  display: flex;
  align-items: center;

  &__input {
    width: $switch-width;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    margin: 0;
    opacity: 0;
    z-index: 0;
  }

  // Unchecked
  &__label {
    display: flex;
    align-items: center;
    margin-left: $switch-width + 16px;
    cursor: pointer;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      width: $switch-width;
      height: $switch-height;
      background-color: $grey-light;
      transition: 200ms;
      border-radius: 100px;
      z-index: 1;
    }

    // :after ist der Punkt der anzeigt, ob der Switch Button an oder aus ist
    &:after {
      content: "";
      position: absolute;
      left: $dot-width / 2 + $dot-padding;
      top: $dot-padding;
      width: $dot-width;
      height: $dot-width;
      background-color: white;
      transition: 150ms;
      border-radius: 14px;
      box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.14),
        0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      z-index: 2;
      transform: translate(-50%);
    }
  }

  // Checked
  &__input:checked + &__label {
    &:before {
      background-color: $primary-light;
    }
  }
}

// Default

.switch {
  .switch__label {
    &:after {
      left: $position-unchecked;
    }
  }

  .switch__input:checked + .switch__label {
    &:after {
      left: $position-checked;
    }
  }
}

// Alle Prinzipien

.switch.prin_1.prin_2.prin_5_ft.prin_8 {
  .switch__label {
    &:after {
      // animation: disableSwitch_all_prin ease-in-out 200ms forwards;
      animation: disableSwitch_all_prin cubic-bezier(0.6, -0.6, 0.32, 1.8) 350ms
          forwards,
        disableSwitch_all_prin_1 cubic-bezier(0.6, -0.6, 0.32, 1.8) 350ms
          forwards,
        disableSwitch_Prin_8 ease-in-out 400ms forwards 100ms;

      @keyframes disableSwitch_all_prin {
        0% {
          left: $position-checked;
        }
        100% {
          left: $position-unchecked;
        }
      }

      @keyframes disableSwitch_all_prin_1 {
        0% {
        }
        20% {
          width: $dot-width;
          height: $dot-height;
          top: $dot-padding;
        }
        50% {
          width: $dot-width + 4px;
          height: $dot-height - 4px;
          top: $dot-padding + 2px;
        }
        80% {
          width: $dot-width;
          height: $dot-height;
          top: $dot-padding;
        }
        100% {
          width: $dot-width;
        }
      }
    }
  }

  .switch__input:checked + .switch__label {
    &:after {
      animation: enableSwitch_all_prin cubic-bezier(0.6, -0.6, 0.32, 1.8) 350ms
          forwards,
        enableSwitch_all_prin_1 cubic-bezier(0.6, -0.6, 0.32, 1.8) 350ms
          forwards,
        enableSwitch_Prin_8 ease-in-out 400ms forwards 100ms;

      @keyframes enableSwitch_all_prin {
        0% {
          left: $position-unchecked;
        }
        100% {
          left: $position-checked;
        }
      }

      @keyframes enableSwitch_all_prin_1 {
        0% {
        }
        20% {
          width: $dot-width;
          height: $dot-height;
          top: $dot-padding;
        }
        50% {
          width: $dot-width + 4px;
          height: $dot-height - 4px;
          top: $dot-padding + 2px;
        }
        80% {
          width: $dot-width;
          height: $dot-height;
          top: $dot-padding;
        }
        100% {
          width: $dot-width;
        }
      }
    }
  }
}

// Prinzip 1 Squash and Stretch

.switch.prin_1 {
  .switch__label {
    &:after {
      animation: disableSwitch_Prin_1 ease-in-out 200ms forwards;
    }
  }

  .switch__input:checked + .switch__label {
    &:after {
      animation: enableSwitch_Prin_1 ease-in-out 200ms forwards;
    }
  }
}

// Prinzip 2 Anticipation

.switch.prin_2 {
  .switch__label {
    &:after {
      transition: 300ms $ease-anticipation;
    }
  }
}

// Prinzip 5 Follow Through

.switch.prin_5_ft {
  .switch__label {
    &:after {
      transition: 300ms $ease-bounce;
    }
  }
}

// Prinzip 5 Follow Through AND Prinzip 1 Squash and Stretch

.switch.prin_5_ft.prin_1 {
  .switch__label {
    &:after {
      animation: disableSwitch_Prin_1_AND_Prin_5_FT ease-in-out 400ms forwards;
      // animation: disableSwitch_Prin_1 ease-in-out 200ms forwards;
    }
  }

  .switch__input:checked + .switch__label {
    &:after {
      animation: enableSwitch_Prin_1_AND_Prin_5_FT ease-in-out 400ms forwards;
      // animation: enableSwitch_Prin_1 ease-in-out 200ms forwards;
    }
  }
}

// Prinzip 8 Secondary Animation

.switch.prin_8 {
  .switch__label {
    &:after {
      animation: disableSwitch_Prin_8 ease-in-out 400ms forwards 10ms;
    }
  }

  .switch__input:checked + .switch__label {
    &:after {
      animation: enableSwitch_Prin_8 ease-in-out 400ms forwards 10ms;
    }
  }
}

@keyframes enableSwitch_Prin_1_AND_Prin_5_FT {
  0% {
    left: $position-unchecked;
  }
  20% {
    width: $dot-width + 8px;
    height: $dot-height - 6px;
    top: $dot-padding + 3px;
  }
  40% {
    width: $dot-width;
    height: $dot-height;
    top: $dot-padding;
  }
  50% {
    left: $position-checked + 2px;
  }
  75% {
    left: $position-checked - 1px;
  }
  100% {
    left: $position-checked;
    width: $dot-width;
  }
}

@keyframes disableSwitch_Prin_1_AND_Prin_5_FT {
  0% {
    left: $position-checked;
  }
  20% {
    width: $dot-width + 8px;
    height: $dot-height - 6px;
    top: $dot-padding + 3px;
  }
  40% {
    width: $dot-width;
    height: $dot-height;
    top: $dot-padding;
  }
  50% {
    left: $position-unchecked - 2px;
  }
  75% {
    left: $position-unchecked + 1px;
  }
  100% {
    left: $position-unchecked;
    // width: $dot-width;
  }
}

@keyframes enableSwitch_Prin_1 {
  0% {
    left: $position-unchecked;
  }
  50% {
    width: $dot-width + 8px;
    height: $dot-height - 6px;
    top: $dot-padding + 3px;
  }
  100% {
    left: $position-checked;
    width: $dot-width;
  }
}

@keyframes disableSwitch_Prin_1 {
  0% {
    left: $position-checked;
  }
  10% {
  }
  50% {
    width: $dot-width + 8px;
    height: $dot-height - 6px;
    top: $dot-padding + 3px;
  }
  100% {
    left: $position-unchecked;
  }
}

@keyframes enableSwitch_Prin_8 {
  from {
    box-shadow: 0 0 0 0px transparentize($color: $primary, $amount: 0),
      0 0 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
      0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
  to {
    box-shadow: 0 0 0 7px transparentize($color: $primary, $amount: 1),
      0 0 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
      0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
}

@keyframes disableSwitch_Prin_8 {
  from {
    box-shadow: 0 0 0 0px transparentize($color: $primary, $amount: 0),
      0 0 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
      0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
  to {
    box-shadow: 0 0 0 7px transparentize($color: $primary, $amount: 1),
      0 0 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
      0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
}
