.button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 8px $primary-shadow, 0px 8px 8px $primary-shadow;
  z-index: 24;
  transition: 0.2s;
  transform: scale(1.05);
}

.button:active {
  transform: scale(0.95);
  box-shadow: none;
}
