.button {
  &.ghost {
    background: none;
    color: $primary;
    border: 2px solid $primary;
    box-shadow: none;

    &:hover {
      box-shadow: none;
    }

    &:active {
      background: $primary-dark;
      color: white;
    }
  }

  &:hover {
    cursor: pointer;
    box-shadow: $default-shadow-primary-hover;
  }

  &:active {
    background: $primary-dark;
    transition: 100ms;
    box-shadow: $default-shadow-pressed;
  }

  &.prin_1:hover {
    transform: scale(1.05, 1.05);
    transition: 100ms;
  }

  &.prin_1:active {
    transform: scale(0.95, 0.95);
    box-shadow: $default-shadow-pressed;
  }

  &.prin_8_variation_1:before,
  &.prin_8_variation_1:after {
    position: absolute;
    content: "";
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
  }

  &.prin_8_variation_1:before {
    display: none;
    top: -75%;
    background-image: radial-gradient(
        circle,
        $primary-light 20%,
        transparent 20%
      ),
      radial-gradient(circle, $primary-light 20%, transparent 20%),
      radial-gradient(circle, $primary-light 20%, transparent 20%),
      radial-gradient(circle, $primary-light 20%, transparent 20%),
      radial-gradient(circle, $primary-light 20%, transparent 20%);
    background-size: 15% 15%, 15% 15%, 15% 15%;
  }

  &.prin_8_variation_1:after {
    display: none;
    bottom: -75%;
    background-image: radial-gradient(
        circle,
        $primary-light 20%,
        transparent 20%
      ),
      radial-gradient(circle, $primary-light 20%, transparent 20%),
      radial-gradient(circle, $primary-light 20%, transparent 20%),
      radial-gradient(circle, $primary-light 20%, transparent 20%),
      radial-gradient(circle, $primary-light 20%, transparent 20%);
    background-size: 15% 15%, 15% 15%, 15% 15%;
  }

  &.animate.prin_8_variation_1 {
    &:before {
      display: block;
      animation: topBubbles ease-out 0.3s forwards;
    }
    &:after {
      display: block;
      animation: bottomBubbles ease-out 0.3s forwards;
    }
  }

  &.animate.prin_8_variation_2 {
    animation: ease-in-out buttonShadowAnimation 300ms;
  }
}

@keyframes topBubbles {
  0% {
    background-position: 0% 80%, 25% 55%, 50% 50%, 75% 55%, 100% 80%;
  }
  90% {
    background-position: -2% 75%, 24% 48%, 50% 43%, 76% 48%, 102% 75%;
  }
  100% {
    background-position: -2% 75%, 24% 48%, 50% 43%, 76% 48%, 102% 75%;
    opacity: 0;
  }
}

@keyframes bottomBubbles {
  0% {
    background-position: 0% 20%, 25% 45%, 50% 50%, 75% 45%, 100% 20%;
  }
  90% {
    background-position: -2% 25%, 24% 48%, 50% 57%, 76% 52%, 102% 25%;
  }
  100% {
    background-position: -2% 25%, 24% 48%, 50% 57%, 76% 52%, 102% 25%;
    opacity: 0;
  }
}

@keyframes buttonShadowAnimation {
  from {
    box-shadow: 0 0 1px 0px transparentize($color: $primary-light, $amount: 0);
  }
  to {
    box-shadow: 0 0 1px 12px transparentize($color: $primary-light, $amount: 1);
  }
}
