$card-width: 300px;
$card-height: 260px;
$card-margin: 16px;
$card-border-radius: 5px;
$picture-height: $card-width / 1.618;
$picture-height-minimized: 50px;

.card {
  width: $card-width;
  color: $text-color;
  text-decoration: none;
  height: $card-height;
  display: block;
  cursor: pointer;
  padding-bottom: $card-margin;
  border-radius: $card-border-radius;
  box-shadow: $default-shadow;

  &:hover {
    box-shadow: $default-shadow-hover;

    .bottom {
      .title {
        white-space: normal;
        height: $card-line-height * 2;
        transition: height 200ms;
      }
    }
  }

  &:active {
    box-shadow: $default-shadow-pressed;
  }

  .picture {
    border-top-left-radius: $card-border-radius;
    border-top-right-radius: $card-border-radius;
    width: $card-width;
    height: $picture-height;
    object-fit: cover;
    transition: height 200ms;
  }

  .bottom {
    .title,
    .description-container,
    .subtitle {
      margin: 0 $card-margin 0 $card-margin;
    }

    .title,
    .subtitle {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .title {
      font-size: $card-font;
      height: $card-line-height;
      margin-top: $card-margin;
      white-space: nowrap;
      transition: 200ms;
    }

    .subtitle {
      margin-top: 4px;
      font-size: $m-font;
      // line-height: $m-font * 1.618;
      color: $primary;
    }

    .description-container {
      margin-bottom: $card-margin;
      margin-top: 8px;
      height: $m-font * 1.618;
      color: $text-color-light;
      overflow: hidden;
      height: 0px;
      transition: height 200ms;

      .description {
        margin: 0;

        &:after {
          content: "...";
        }
      }
      .call-to-action-container {
        display: flex;
        justify-content: flex-end;
        font-weight: 700;

        .call-to-action {
          color: $primary;
          margin: 0;
        }
      }
    }

    .action {
      display: block;
      color: $primary;
      font-weight: 700;
      margin: 0 $card-margin 0 $card-margin;
    }
  }

  &:hover {
    .picture {
      object-fit: cover;
      height: $picture-height-minimized;
      transition: height 200ms;
    }

    .bottom {
      .description-container {
        height: $m-line-height * 4 !important;
        transition: height 200ms;
      }
    }
  }
}

// Prinzip Squash and Stretch

// Das Card Element vergrößert sich bei einem Hover
.card {
  &.prin_1:hover {
    transform: scale(1.02, 1.02);
    transition: 200ms;
  }

  &.prin_1:active {
    transform: scale(0.95, 0.95);
  }
}

// Prinzip Follow Through

.card {
  &:hover.prin_5_ft {
    .picture {
      height: $picture-height-minimized;
      transition: height 300ms $ease-card-bounce;
    }

    .bottom {
      .description-container {
        height: $m-line-height * 4 !important;
        transition: height 200ms;
      }
    }
  }

  &.prin_5_ft {
    .picture {
      animation: maximizePicture_Prin_5_FT ease-in-out 0.4s forwards;
    }
  }

  &.prin_5_ft {
    .bottom {
      .description-container {
        height: 0px;
        transition: height 200ms;
      }
    }
  }
}
