.dropdown-container {
  display: inline-block;
  position: relative;

  .button {
    margin-bottom: 20px;
    cursor: pointer;

    .button-icon {
      transition: transform 200ms;
    }

    &:active {
      box-shadow: $default-shadow-pressed;
    }
  }

  .dropdown-list {
    position: absolute;
    border-radius: 5px;
    box-shadow: 0px 0px 4px #ccc, 0px 4px 4px #ccc;
    width: 200px;
    background: white;
    padding: 0;
    margin: 0;
    width: 100%;
    transform: scaleX(0.1) scaleY(0);
    transform-origin: right top;
    transition: 150ms ease-in-out;

    .list-item {
      .link {
        width: 100%;
        padding: 12px;
        // padding-left: 48px;
        display: block;
        overflow: hidden;
        font-size: $link-font;
        font-weight: inherit;
        transition: padding-left 200ms $ease-bounce-medium,
          background 100ms ease-in-out;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &.is-open {
    .button {
      .button-icon {
        transform: rotate(180deg);
        transition: transform 200ms;
      }
    }

    .dropdown-list {
      transform: scale(1, 1);
      transition: 150ms ease-in-out;

      .list-item {
        .link {
          &:hover {
            background: $grey-extra-light;
            padding-left: 32px;
            transition: padding-left 200ms $ease-bounce-medium,
              background 100ms ease-in-out;
          }
        }
      }
    }
  }
}

// Prinzip 5 Follow Through

// Das Icon wird mit einem Bounce versehen
.dropdown-container {
  .button {
    .button-icon {
      &.prin_5_ft {
        transition: transform 300ms $ease-bounce-medium;
      }
    }
  }

  &.is-open {
    .button {
      .button-icon {
        &.prin_5_ft {
          transform: rotate(180deg);
          transition: transform 300ms $ease-bounce-medium;
        }
      }
    }
  }
}

// Die gesamte Liste wird mit einem Bounce Effekt versehen
.dropdown-container {
  &.prin_5_ft {
    &.is-open {
      .dropdown-list {
        transition: 250ms $ease-bounce-medium;

        .list-item {
          .link {
            &:hover {
              transition: padding-left 200ms $ease-bounce-medium,
                background 100ms ease-in-out;
            }
          }
        }
      }
    }
  }
}

// Die einzelnen Listenelemente werden mit einem Offset von rechts nach links animiert
.dropdown-container {
  .dropdown-list {
    &.prin_5_ft {
      .list-item {
        .link {
          margin-left: 32px;
          transition: margin-left 200ms, padding-left 200ms $ease-bounce-medium,
            background 100ms ease-in-out;
        }
      }
    }
  }

  &.is-open {
    .dropdown-list {
      &.prin_5_ft {
        $n: 10;
        @for $i from 1 through $n {
          .list-item:nth-child(#{$i}) {
            .link {
              margin-left: 0px;
              transition: margin-left 200ms $ease-bounce-medium $i * 30ms + 40ms,
                padding-left 200ms $ease-bounce-medium,
                background 100ms ease-in-out;
            }
          }
        }
      }
    }
  }
}
