$image-width: 600px;
$image-height: 100% / 1.618;
$image-margin: 100px;

$image-left-out: $image-width - $image-margin;
$image-right-out: $image-width + $image-margin;

.carousel-container {
  width: 600px;
  overflow: hidden;

  .carousel-inner {
    position: relative;
    height: 300px;
    width: 100%;

    .item {
      // width: $image-width;
      flex-shrink: 0;
      position: absolute;
      // display: none;
      left: 0;

      .image {
        width: $image-width;
        height: 200px;
        object-fit: cover;
      }
      //   display: none;

      &.active {
        // transition: 200ms;
        // display: block;
        z-index: 10;
      }

      &.move-left {
        animation: moveLeft 400ms forwards;
      }

      &.move-right {
        animation: moveRight 400ms forwards;
      }

      &.enter-from-left {
        animation: enterFromLeft 400ms forwards;
        display: block;
      }

      &.enter-from-right {
        animation: enterFromRight 400ms forwards;
        display: block;
      }
    }
  }
}

@keyframes moveLeft {
  from {
    margin-left: 0px;
  }
  to {
    margin-left: -400px;
  }
}

@keyframes moveRight {
  from {
    margin-left: 0px;
  }
  to {
    margin-left: 400px;
  }
}

@keyframes enterFromLeft {
  from {
    margin-left: -400px;
  }
  to {
    margin-left: 0px;
  }
}

@keyframes enterFromRight {
  from {
    margin-left: 400px;
  }
  to {
    margin-left: 0px;
  }
}
