.nav-container {
  display: inline-block;

  .nav-toggle {
    margin-bottom: 20px;
    cursor: pointer;

    .line {
      height: 3px;
      width: 32px;
      background: $text-color;
      margin: 6px;
    }

    &:active {
      box-shadow: $default-shadow-pressed;
    }
  }

  .nav {
    border-radius: 4px;
    box-shadow: 0px 0px 4px #ccc, 0px 4px 4px #ccc;
    width: 200px;
    transition: 200ms ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;

    .nav-list {
      padding: 0;
      margin: 0;
      width: 100%;

      .list-item {
        .link {
          width: 100%;
          padding: 12px 24px;
          display: block;
          overflow: hidden;
          font-size: $link-font;
          // transition: 200ms;
          font-weight: inherit;
          transition: padding-left 200ms $ease-bounce,
            background 100ms ease-in-out;

          &:hover {
            background: $grey-extra-light;
            transition: 200ms;
          }
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &.open {
    .nav-toggle {
      .line {
        transition: 200ms;

        &.one {
          transform: translateY(110%) translateX(-22%) rotate(-45deg)
            scale(0.6, 1);
        }
        &.two {
          width: 28px;
          margin-left: 10px;
        }
        &.three {
          transform: translateY(-110%) translateX(-22%) rotate(45deg)
            scale(0.5, 1);
        }
      }
    }
  }

  &.close {
    .nav-toggle {
      .line {
        transition: 100ms;
        &.two {
          width: 20px;
          margin-left: 6px;
        }

        &.three {
          width: 12px;
        }
      }

      &:hover {
        .one {
          transform: translateY(-2px);
        }
        .three {
          transform: translateY(2px);
        }
      }
    }
    .nav {
      transform: scale(0, 0.3);
      transform-origin: left top;
      transition: 200ms ease-in;

      .nav-list {
        .list-item {
        }
      }
    }
  }
}

// Prinzip 1 Squash and Stretch

.nav-container.prin_1 {
  .nav {
    transition: 350ms $ease-bounce;

    .nav-list {
      .list-item {
        .link {
          &:hover {
            transition: padding-left 200ms $ease-bounce,
              background 100ms ease-in-out;
            // transition: background 200ms ease-in-out;
            // animation: bounceListItem 200ms ease-in-out forwards;
            // transition-timing-function: $ease-bounce;
            // transform: translateX(8px);
            // transition: 1000ms $ease-bounce;
            padding-left: 38px;
          }
        }
      }
    }
  }

  &.close {
    .nav {
      transition: 200ms ease-in;
    }
  }
}

@keyframes bounceListItem {
  0% {
  }
  50% {
    padding-left: 32px;
  }
  100% {
  }
}
