.nav-container {
  display: inline-block;
  position: relative;
  // width: 300px;
  // height: 600px;
  // overflow: hidden;

  .nav-toggle {
    padding: 12px;
    margin-top: 2px;
    margin-bottom: 20px;
    background: white;
    z-index: 10;
    cursor: pointer;
    position: absolute;

    .line {
      height: 2px;
      width: 32px;
      background: $text-color;
      margin: 6px;
      transition: 150ms;

      &.two {
        width: 20px;
        margin-left: 6px;
      }

      &.three {
        width: 12px;
      }
    }

    &:hover {
      .one {
        transform: translateY(-2px);
      }
      .three {
        transform: translateY(2px);
      }
    }

    &:active {
      box-shadow: $default-shadow-pressed;
    }
  }

  &.is-open {
    .nav-toggle {
      .line {
        transition: 150ms;

        &.one {
          transform: translateY(120%) rotate(-45deg);
          width: 18px;
        }
        &.two {
          width: 28px;
          margin-left: 10px;
        }
        &.three {
          transform: translateY(-120%) rotate(45deg);
          width: 18px;
        }
      }
    }
  }

  .nav {
    padding-top: 64px;
    position: absolute;
    border-radius: 0 4px 4px 0;
    border: 2px solid #ccc;
    border-left: none;
    width: 200px;
    transition: 200ms ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;

    .nav-list {
      padding: 0;
      margin: 0;
      width: 100%;

      .list-item {
        .link {
          width: 100%;
          padding: 12px;
          display: block;
          overflow: hidden;
          font-size: $link-font;
          font-weight: inherit;
          transition: padding-left 200ms $ease-bounce-medium,
            background 100ms ease-in-out;

          &:hover {
            transition: padding-left 200ms $ease-bounce-medium,
              background 100ms ease-in-out;
            background: $grey-extra-light;
            padding-left: 32px;
          }
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .nav {
    // transform: scale(0, 1);
    transform: translateX(-120%);
    transform-origin: left top;
    transition: transform 150ms ease-in;
  }

  &.is-open {
    .nav {
      // transform: scale(1);
      transform: translateX(0%);
      transition: transform 200ms ease-out;
    }
  }
}

// Prinzip 5 Follow Through auf die Nav

.nav-container {
  .nav {
    &.prin_5_ft {
      transition: 350ms $ease-bounce-medium;
    }
  }
}

// Prinzip 5 Follow Through auf die einzelnen Links in der Nav

.nav-container {
  .nav {
    transition: 350ms ease-in-out;

    .nav-list {
      .list-item {
        .link {
          &.prin_5_ft {
            margin-left: -50px;
            transition: margin-left 200ms ease-in,
              padding-left 200ms $ease-bounce-medium,
              background 100ms ease-in-out;
          }
        }
      }
    }
  }

  &.is-open {
    .nav {
      .nav-list {
        $n: 10;
        @for $i from 1 through $n {
          .list-item:nth-child(#{$i}) {
            .link {
              margin-left: 0px;
              transition: margin-left
                  200ms
                  $ease-bounce-medium
                  $i *
                  30ms +
                  100ms,
                padding-left 200ms $ease-bounce-medium,
                background 100ms ease-in-out;
            }
          }
        }
      }
    }
  }
}
