@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

// Variables

$primary: #9313ce;
$primary-dark: #880cc2;
$primary-light: #dca2f7;
$primary-test: #9313ce;
$primary-shadow: #e7c4f7;
$primary-extra-light: #fbf2ff;
$grey-light: #cecece;
$text-color: #3b3b3b;
$text-color-light: #6b6b6b;
$background-color: white;

$m-font: 1rem;
$l-font: $m-font * 1.618;
$xl-font: $l-font * 1.618;
$xxl-font: $xl-font * 1.618;

// General Layout

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: $text-color;

  h1 {
    font-size: $xxl-font;
  }

  h2 {
    font-size: $xl-font;
  }

  h3 {
    font-size: $l-font;
  }

  button {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    position: relative;
    padding: 12px 32px;
    border: none;
    outline: none;
    border-radius: 5px;
    background: $primary;
    // box-shadow: 0px 0px 2px $primary-shadow, 0px 4px 2px $primary-shadow;
    box-shadow: 0px 0px 4px $primary-shadow, 0px 4px 4px $primary-shadow;
    // box-shadow: 0px 0px 8px $primary-shadow, 0px 8px 8px $primary-shadow;
    color: white;
    transition: 200ms;
  }

  .card {
    transition: 200ms;
    box-sizing: border-box;
  }

  .container {
    padding: 64px 20%;

    .element {
      margin-bottom: 128px;
    }
  }
}
