@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

// Variables

$primary: #9313ce;
$primary-light: #dca2f7;
$primary-extra-light: #fbf2ff;
$grey-light: #cecece;

$m-font: 1rem;
$l-font: $m-font * 1.618;
$xl-font: $l-font * 1.618;
$xxl-font: $xl-font * 1.618;

// General Layout

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #3b3b3b;

  h1 {
    font-size: $xxl-font;
  }

  h2 {
    font-size: $xl-font;
  }

  h3 {
    font-size: $l-font;
  }

  .container {
    padding: 64px 20%;

    .element {
      margin-bottom: 128px;
    }
  }
}
